html {
  @media screen and (max-width: 835px) {
    font-size: 14px;
  }
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  /* font-size: clamp(2.125rem, 1.768rem + 1.79vw, 4rem); */
  font-size: 1.5em;
  color: #372f2f;
}
section {
  padding: 2%;
}
section ul {
  padding: 0;
  list-style: none;
  width: 70%;
  margin: 80px auto;
}
section li {
  background: linear-gradient(to bottom right, #dc63e5 0%, #5164f0 100%);
  height: 320px;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 40px;
  cursor: pointer;
}
section li:hover {
  opacity: 0.5;
}
section ul li h2 {
  color: white;
  font-size: clamp(1.25rem, 1.012rem + 1.19vw, 2.5rem);
  margin: 0%;
  padding-top: 10px;
}
section ul li div {
  max-height: 80%;
}
.flex {
  display: flex;
  align-items: center;
  height: 100%;
}
.flex img {
  height: 75%;
}
.flex p {
  width: 80%;
  color: white;
  margin: 20px 60px;
  padding: 10px;
  font-size: clamp(0.875rem, 0.722rem + 0.82vw, 2rem);
  font-weight: 500;
}
.fontMochiy-pop {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
}

@media (max-width: 768px) {
  /* h1 {
    text-align: center;
  } */
  section ul {
    width: 100%;
    margin: 40px auto;
  }
  section ul li h2 {
    text-align: center;
  }
  .flex {
    text-align: center;
    flex-direction: column;
    height: 100%;
  }
  .flex img {
    margin-top: 10px;
    max-width: 60%;
  }
  .flex p {
    text-align: left;
    margin: 0%;
    padding: 10px 30px;
    width: 100%;
  }
}
.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}
