.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
  /* text-align: center; */
  /* font-size: 32px; */
  font-size: 1.5em;
  color: #372f2f;
  /* margin-bottom: 5%; */
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.content {
  margin: 0 auto;
  padding: 24px;
  background: linear-gradient(to bottom right, #dc63e5 0%, #5164f0 100%);
  /* width: clamp(18.75rem, 10.417rem + 41.67vw, 62.5rem); */
  width: clamp(18.75rem, 10.417rem + 41.67vw, 62.5rem);
  /* height: clamp(38.5rem, 27.976rem + 52.62vw, 93.75rem); */
  border-radius: 30px;
  text-align: center;
  position: relative;
}
h2 {
  color: white;
  margin-bottom: 5%;
  font-size: clamp(1.563rem, 1.384rem + 0.89vw, 2.5rem);
}
.text {
  border: rgb(223, 118, 247) solid 10px;
  border-radius: 5%;
  background-color: rgb(252, 240, 255);
  padding: 2%;
  margin: 5% auto;
  text-align: left;
  color: black;
  width: 80%;
  font-size: clamp(0.938rem, 0.759rem + 0.89vw, 1.875rem);

  @media screen and (max-width: 835px) {
    width: 100%;
  }
}
.fontMochiy-pop {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
}
.clothesImg {
  width: 80%;
}
.weatherImage {
  position: absolute;
  width: 20%;
  left: -5%;
  top: -2%;
}
.divClothesImg {
  position: relative;
}
.suggest-cloth{
  display: flex;
}
.suggest-cloth-img{
  margin: 5% auto
}

/* //スライドのCSS */
.switch {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 1em;
}
.switch_button {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;

  @media screen and (max-width: 835px) {
    width: 64px;
    height: 32px;
  }
}

.switch_checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.32);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.32);
  backdrop-filter: blur(8px);
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 32px;
}

.switch_slider:before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color:  #5164f0;
  transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}
@media screen and (max-width: 835px) {
  .switch_slider:before {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 4px;
  }
}

.switch_checkbox:checked + .switch_slider:before {
  background-color:#dc63e5;
  transform: translateX(40px);
}
@media screen and (max-width: 835px) {
  .switch_checkbox:checked + .switch_slider:before {
    transform: translateX(32px);
  }
}
@media screen and (max-width: 480px) {
  .suggest-cloth{
    display: block;
  }
  .clothesImg{
    width: 50%;
  }
}

.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}
