/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    @media screen and (max-width: 835px) {
      font-size: 14px;
    }
}

.fontMochiy-pop {
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
  }

body {
    margin: 0;
    background-color: #fcebff;
    color: #372f2f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#hero-image{
    display: flex;
    margin: 70px 50px 100px;
}

.hero-image-section { 
    position: relative;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('./images/top/hero.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 30px;
}

.hero-image-section{
    width: 60%;
    height: 540px;
}

.hero-section_contents{
    width: 40%;
    padding-left: 50px;
    padding-top: 100px;

}

.hero-section_contents h1{
    font-size: 5vw;
    padding-bottom: 10px;
}

.hero-section_cont_daily-information{
    font-size: 2vw;
}

.hero-section_cont_daily-information p{
    padding-bottom: 1.5vw;
    padding-left: 1vw;
}

.weather-timeline, .detailed-weather-timeline {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

.weather-widget{
    text-align: center;
    margin-bottom: 50px;
}

.weather-widget h2{
    margin-bottom: 50px;
    font-size: 26px;
}

.detailed-weather-widget {
    padding-top: 60px; 
}

.weather-item, .detailed-weather-item {
    flex: 1;
    text-align: center;
    padding: 10px
}

.weather-item img{
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.detailed-hourly-forcast{
    padding-bottom: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.detailed-hourly-forcast h2{
    margin-top: 50px;
    margin-bottom: 30px;
}

.detailed-daily-forcast{
    margin-left: 30px;
    margin-right: 30px;
}

.detailed-daily-forcast h2{
    margin-bottom: 20px;
}

.detailed-weather-item img{
    max-width: 100%;
}

.detailed-weather-daily-forcast-content img{
    max-width: 100%;
    height: auto;
}

.detailed-weather-daily-forcast-content table {
    border-collapse: collapse;
    width: 100%;
}

.detailed-weather-daily-forcast-content tr{
    border-top: 1px dotted black;
    height: 75px;
}

.detailed-weather-daily-forcast-content td:nth-child(3){
    width: 50px;
    height: 50px;
}


/* Header */
.header {
    background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.56));
    border-bottom: 2px solid #fff;
}

.sp_nav_trigger {
    display: none;
}

.sp_nav_trigger + label {
    display: none;
}

.navbar {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.navbar_home {
    color: #5164f0;
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.navbar_menu {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.navbar_link {
    color: #372f2f;
    text-decoration: none;
}

.navbar_link:hover {
    color: #9969ed;
}

.navbar_link.current {
    color: #9969ed;
    font-weight: bold;
    border-bottom: 2px solid #9969ed;
}


@media screen and (max-width: 835px) {
    #hero-image{
        display: flex;
        margin: 70px 50px 50px;
        height: 335px;
    }
    .hero-image-section{
        height: auto;
    }
    .hero-section_contents{
        padding-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    #hero-image{
        height: 190px;
    }
    .weather-item {
        margin-bottom: 20px;
    }
    
    .weather-widget{
        margin-left: 20px;
        margin-right: 20px;
    }
    .weather-widget h2{
        font-size: 20px
    }
    .detailed-hourly-forcast, .detailed-daily-forcast{
      margin-left: 20px;
      margin-right: 20px;
    }
}

@media screen and (max-width: 480px) {
    #hero-image{
        height: 200px;
    }
    .weather-widget h2{
        font-size: 18px;
        margin-bottom: 15px;
    }
}


/* Header - Tablet & Mobile */
@media screen and (max-width: 835px) {
    .header {
        background-image: none;
        border: none;
        padding: 24px;
        display: flex;
        justify-content: flex-end;
    }
    
    .sp_nav_trigger + label {
        display: block;
        box-shadow: 0 4px 16px rgba(31, 38, 135, 0.1);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        position: absolute;
    }
    
    .sp_nav_trigger:checked + label {
        z-index: 2;
    }
    
    .sp_nav_trigger + label span,
    .sp_nav_trigger + label span::before,
    .sp_nav_trigger + label span::after {
        display: block;
        height: 4px;
        background-color: #372f2f;
        border-radius: 4px;
    }
    
    .sp_nav_trigger + label span {
        position: relative;
        width: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .sp_nav_trigger + label span::before,
    .sp_nav_trigger + label span::after {
        content: "";
        width: 16px;
        height: 4px;
        background-color: #372f2f;
        position: absolute;
        left: 0;
        transition: all 0.2s ease-out;
        transform-origin: center;
    }
    
    .sp_nav_trigger + label span::before {
        top: -8px;
    }
    
    .sp_nav_trigger + label span::after {
        top: 8px;
    }
    
    .sp_nav_trigger:checked + label span {
        background-color: transparent;
    }
    
    .sp_nav_trigger:checked + label span::before,
    .sp_nav_trigger:checked + label span::after {
        width: 24px;
    }
    
    .sp_nav_trigger:checked + label span::before {
        transform: rotate(45deg);
        top: 0;
    }
    
    .sp_nav_trigger:checked + label span::after {
        transform: rotate(-45deg);
        top: 0;
    }
    
    .navbar {
        position: fixed;
        z-index: 1;
        inset: 0;
        opacity: 0;
        padding: 40px 4%;
        pointer-events: none;
        transition: all 0.24s ease-out;
        background-image: linear-gradient(to bottom right, #fcebff 0, #fff 64%);
        flex-direction: column;
        justify-content: stretch;
    }
    
    .navbar_menu {
        flex-direction: column;
        gap: 24px;
        padding: 40px;
    }
    
    .sp_nav_trigger:checked ~ .navbar {
        opacity: 1;
        pointer-events: all;
    }
}
